#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /*  background-color: lightblue; */
}

.nav-link {
  color: black;
  font-weight: lighter;
  font-family: "GFS Didot", serif;
  font-size: larger;
  position: relative;
}

/* nav-link:before combined with  nav-link:hover:before create the underline effect*/
.nav-link::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /* background: #a8dadc; */
  /*  background: #6a8e3a; */
  background: #42abae;
  transition: width 1s ease;
}

.nav-link:hover:before {
  width: 100%;
}

.dropdown-item {
  font-weight: lighter;
  font-size: large;
  color: #6a8e3a;
  transition: background 0.3s;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  font-weight: 600;
}

.navbar-brand {
  background-color: white;
  /*  background-color: #ffa323; */
  /*  background-color: #6a8e3a; */
  /*   background-color: #42abae;
 */
  /* color: #2c3e50; */
  /*   color: #fe8b10;
 */
  /*  color: #f9cbbe; */ /* sunrise peach */
  /* color: #f4e1c1; */ /* sand beige */
  color: #6a8e3a; /* cloud white */

  /*  border: 3px solid #2c3e50; */
  border-radius: 10px;
  /* font-family: "Bebas Neue", serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  /* letter-spacing: 0.02857em; */
}
.accent {
  color: #b9d9eb; /* light blue accent */
}
.title-h1 {
  padding: 10px;
  letter-spacing: 0.02857em;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  font-size: 3rem;
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
}
