#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    }
  
    
  .nav-link {
    font-weight: bold; 
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .nav-link:hover {
    color: #8ea5eb ;
  } 
  
  .container-fluid {
      background: linear-gradient(to right, #3ca2c3,
      #63b5cf,
      #add8e6,
      #b1dae7,
      #d8ecf3);
    }
  
  
  .navbar-brand {
    background-color: orange;
    color: black;
    border-radius: 40px; 
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
  }
  
  
  /* @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  /* @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  } */
  
  
  
  
  
  .leaflet-container{
  width: 80vw;
  height: 80vh;
  }
  
  
  
  
  
  
  
  
  