#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  color: black;
  font-weight: lighter;
  font-family: "GFS Didot", serif;
  font-size: larger;
  position: relative;
}

/* nav-link:before combined with  nav-link:hover:before create the underline effect*/
.nav-link::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 1s ease;
}

.nav-link:hover:before {
  width: 100%;
}

.dropdown-item {
  font-weight: lighter;
  font-family: "GFS Didot", serif;
  font-size: large;
}

.navbar-brand {
  background-color: #ffa323;
  color: #2c3e50;
  border: 3px solid #2c3e50;
  border-radius: 10px;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}
.accent {
  color: #b9d9eb; /* light blue accent */
}
.title-h1 {
  padding: 7px;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: #2c3e50;
  text-align: center;
}
