  .container {
    
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 50%;
    padding: 10px; 
     
}   

.send-button{
    background-color: lightblue;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.form-label {
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 50%;
    padding: 10px;
  }

 /*  .form-control{
    border-bottom: 2px solid red;
  } */

 

