/* .parameters-container {
   
    position: relative;

}

  
.adults-container{
    position: relative;
  
}

.rooms-container{
    position: relative;
    top:30%;
}
 */
/* .submit-wrapper {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  top: 30%;
} */

/* .submit-wrapper:hover {
  background-color: orange !important;
  color: white !important;
} */

.clicks {
  background-color: orange;
  border-radius: 10px;
  font-size: x-large;
}

.road-trip-button {
  font-family: "Bebas Neue", serif;
  font-weight: 600;
  font-size: 30px;
  background-color: orange;
  color: #2c3e50;
  border-radius: 20px;
  padding: 10px 20px;
}

.wrapper {
  position: relative;
  top: 10%;
  background-color: #b9d9eb;
  background-color: #eefbee;
  /*  background-color: #eefbee; */
  /* background-color: #2c3e50; */

  padding: 27px;
  border-radius: 5px;
}

.parameter_inputs {
  border-radius: 10px;
}
