 .full-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
} 

.split-screen {
  background-color: #F8F8F8;
  display: flex;
  /* height: calc(100% - 4rem); */ /* Adjust for header height */
}


/* .left-panel {
  flex: 1;
  margin-top: 50px;
  margin-left: 30px;;
} */

.left-panel {
  flex: 1;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-player,
.img {
  flex: 1;
  margin-bottom: 10px; /* Adjust margin as needed */
}


.right-panel {
  flex: 1;
  margin-top: 50px;
  margin-left: 30px;;
}




  .h1 {
    padding: 7px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    
    position: relative;
    margin-right: 30px;
  }

  .h1::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 1px; /* Adjust the width of the line as needed */
    height: 100%; /* Make the line span the full height of the wrapper */
    background-color: black; /* Change the color of the line as needed */
    margin-left: -5px;
    margin-right: 10px;
  }

  .click-word{
    background-color: lightblue;
    font-family: "GFS Neohellenic", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
    background-color: orange; 
    color: black;
    border-radius: 40px; 
    /* -webkit-text-stroke-width: 2px; */ /* Width of the border */
  /* -webkit-text-stroke-color: black; */
    
  }

  .wrapper {
    position: relative;
    top: 10%;
    background-color: lightblue;
    border-radius: 30px;
    padding: 7px;
  }

    .wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px; /* Adjust the width of the line as needed */
      height: 100%; /* Make the line span the full height of the wrapper */
      background-color: black; /* Change the color of the line as needed */
    }





