.full-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.split-screen {
  display: flex;
  height: calc(100% - 4rem); /* Adjust for header height */
}

.left-panel,
.right-panel {
  flex: 1;
}

  .h1 {
    background-color: lightblue;
    padding: 10px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }

  .click-word{
    background-color: lightblue;
    /* font-style: oblique;
    font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    color: black;
    border-radius: 30px; 
    
  }


