.parameters-container {
   
    position: relative;
}

  
.adults-container{
    position: relative;
    top: 30%;
}

.rooms-container{
    position: relative;
    top:30%;
}

.submit-wrapper {
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    top:30%;
  }
  
  .submit-wrapper:hover {
    background-color: orange !important; 
    color: white !important;
  }

  .clicks {
    background-color: orange;
    border-radius: 30px;
    font-size:x-large;
  }

  .road-trip-button {
    background-color: lightblue;  
    border-radius: 30px;
  }