.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

.align-items {
    align-items: flex-end;
}

.specialHeader {
    background-color: lightblue;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}